/*paragraph*/
p{
  margin: 0 2.5rem 0 2.5rem;  
}

/*on selection color*/
.link {
    text-decoration: none;
    color: whitesmoke;
    transition: background-size 0.4s ease;
    background: linear-gradient(to bottom, transparent 10%, #55b34d 0) center center/0% 75% no-repeat;
    cursor: pointer;
    letter-spacing: 0.08rem;
  }
  .link:hover {
    background-size: 100% 100%;
  }
