@media only screen and (max-width: 1000px) {
    body {
        text-decoration: none;
    }
}
a{
  text-decoration: none;
  color: whitesmoke;
}

/* Start Social Media */
.flib-card{
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: arial;
  height: 200px;
  width:100%;
}

.cardbox{
  perspective: 500px;
  margin: 15px;
}

.card{
  position: relative;
  width: 150px;
  height: 150px;
  
  transform-style: preserve-3d;
  transition: all .5s ease-in-out;
  box-shadow: 0 30px 30px rgba(0,0,0,.5);
}

.linkedin{
  background-color: #3b5998;
}

.twitter{
  background-color: #55acee;
}

.github{
  background-color: #dd4b39;
}

.card-front, .card-back{
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  color: #FFF;
  backface-visibility: hidden;
}

.card-front{
  font-size: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card-back{
  font-size: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: rotateY(180deg)
 }

.cardbox:hover .card{
  transform: rotateY(180deg);
}

/* End Social Media */