body {
    margin: 0;
    font-family: "Cormorant Garamond", serif;
    font-size: 18px;
    scroll-behavior: smooth;
    background-color:#222;
  }
  
  .page-wrapper {
    display: block;
    width: 100%;
  }
  
  @media (min-width: 700px) {
    .page-wrapper {
      display: flex;
    }
  }

  aside {
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 40px;
  }
  
  @media (min-width: 700px) {
    aside {
      background-color: #222;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      width: 50%;
      flex: 0 0 50%;
      padding: 0;
    }
  }

  h1,
  .flourish {
    font-size: 6vw;
    margin: 10px 0;
    font-family: "Oxygen", sans-serif;
    text-align: center;
  }
  
  @media (min-width: 700px) {
    h1,
    .flourish {
      font-size: 4.5vw;
      margin: 20px 0;
      padding: 0 20px;
    }
  }
  h1 {
    letter-spacing: 7px;
    text-transform: uppercase;
  }
  
  .flourish {
    font-weight: bold;
  }
  
  .bio {
    margin: 0 20px;
    text-align: center;
    line-height: 1.5;
  }
  
  @media (min-width: 1100px) {
    .bio {
      margin: 0 100px;
      text-align: center;
      line-height: 1.7;
      font-size: 1.2em;
    }
  }
  article {
    margin: 0;
    color: rgb(129, 129, 129);
    background-color:#222;
  }
  
  
  @media (min-width: 700px) {
    article {
      flex: 0 0 50%;
      margin-left: 50%;
      padding-top: 30px;
      padding-left: 20px;
    }
  }

  @media (max-width: 500px){
    .project{
      width: 80%;
    }
  }
  
  .text {
    columns: 2;
    column-width: 250px;
    column-gap: 2em;
    padding: 0 20px;
    text-align: justify;
  }
  .text p:first-child {
    margin-top: 0;
  }
  .text p:first-child:first-letter {
    float: left;
    color: red;
    font-size: 4em;
    line-height: 35px;
    padding: 19px 10px 10px 0;
  }
  
  @media (min-width: 1100px) {
    .text {
      padding: 0 60px;
    }
  }
  

  .skill__list:hover,.project__description:hover{
    color:white;
  }

  .skill__list,.project__description{
    
    color:gray;
    font-family: Poppins;
    list-style: none;
    font-size: medium;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-weight: 300;
  }

  .skills{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    width:100%;
  }
  @media screen and (min-width: 768px){
    .skills{
      width:80%;
    }
  }

  .skill__title{
    text-transform:uppercase;
    font-family: Poppins;
    color: white;
    font-size: medium;
    letter-spacing: 2px;
  }


  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 64px;
    list-style: none;
    padding: 0;
  }
  
  .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .section:not(:last-child) {
    margin-bottom: 64px;
  }
  
  .section__title {
    margin-bottom: 32px;
  }
  
  .section__description {
    margin-top: 0;
    margin-bottom: 24px;
  }
  
  @media screen and (min-width: 768px) {
    .section__description {
      width: 70%;
    }
  }

  .project__title{
    text-transform:uppercase;
    font-family: Poppins;
    color: white;
    font-size: medium;
    letter-spacing: 2px;
  }

  .project__tags {
    margin-top: auto;
    font-size: 12px;
    font-style: italic;
    font-family: monospace;
    color: #41d434;
  }
  
  .project__tags::before {
    content: "// ";
    font-style: normal;
  }

  .project__description {
    margin-top: 0;
    margin-bottom: 24px;
  }

  ::selection {
    background: rgba(255,255,255,0.99);
    color: black;
  }
  
  ::-webkit-selection {
    background: rgba(255,255,255,0.99);
    color: black;
  }
  
  ::-moz-selection {
    background: rgba(255,255,255,0.99);
    color: black;
  }

  .project{
    text-decoration: none;
    
  }
  .button{
    text-decoration: none;
  }

  .button {
    border: 1.6px solid white;
    color: #ffffff;
    padding: 10px 28px;
    font-size: 12px;
    font-family: Poppins;
    text-transform: uppercase;
  }

  /*social media icons */

  .Social-media{
    display: flex;
    justify-content: center;
  }

  .fab{
    padding-left: 8px;
    padding-right: 8px;
  }
  .fab:hover{
    transform: scale(1.5);
    transition: 0.5s;
  }

  .fa-linkedin,.fa-github,.fa-stack-overflow,.fa-twitter{
    color: #41d434;

  }

  a:hover .fa-linkedin{
    color: #3b5998;
  }
  a:hover .fa-twitter{
    color: #00acee;
  }
  a:hover .fa-stack-overflow{
    color: #f48024;
  }
  a:hover .fa-github{
    color: #ffffff;
  }

  /*Responsive */

  @media screen and (max-width: 500px) {
    body {
      position: relative;
      display: grid;
      padding: 0 80px;
    }
    .fab{
      padding-top: 20px;
      padding-left: 14px;
      padding-right: 14px;
      transform: scale(1.8);
    }
    .fab:hover{
      transform: scale(2.4);
      transition: 0.5s;
    }
    .project__tags {
      margin-top: auto;
      font-size: 14px;
      font-style: italic;
      font-family: monospace;
      color: #41d434;
    }
  }